
section {
    overflow-y: scroll;
    position: relative;
}

section .card {
    height: 10rem;
    font-size: 1;
} 

section .card-body {
    font-size: 0.9rem;
}

.form-search {
    position: absolute;
    right: 1.3rem;
    top: 1.5rem;
    z-index: 1111;
}

form.icon {
    height: 1.5rem;
    width: 1.5rem;
}


