
#section {
    position: relative;
    padding-top: 5rem;
}

#section h1 {
  font-size: 2.3rem;
  letter-spacing: 1px;
  position: absolute;
  left: 40% ;
  top: 2rem;
}


form {
  margin: 20px 0;
  width: 50%;
  background-color: white;
  padding: 7rem 2rem 2rem 2 rem; 
  border-radius: 5px;
}

form .input-block {
  margin-bottom: 20px;
  width: 100%;
}

form .input-block label {
  font-size: 14px;
  color: darkslateblue;
}

form .input-block input {
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 7px;
  font-size: 16px;
  color: #7159c1;
  border-radius: 2px;
  border: 1px solid #ccddef;
  outline-color: #7159c1;
}

form .btn-submit {
  display: block;
  min-width: 120px;
  border: none;
  background-color: #7159c1;
  color: white;
  border-radius: 25px;
  margin: auto;
  padding: 7px;
}

.form-wrapper {
    margin-top: 4rem;
}

.form-hide {
    animation-name: fade;
    animation-duration: 1s;
}

.msg-email {
    position: absolute;
    bottom: -50vh;
    display: none;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: scale(0.9);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}

.form-hide {
    animation: down 500ms;
    animation-fill-mode: forwards;
}

.msg-email-up {
    animation: up 500ms;
    display: block;
    animation-fill-mode: forwards;
}

@keyframes down {
    from {
        transform: translateY(0)
    }
    to {
        transform: translateY(100vh)
    }
}

@keyframes up {
    from {
        transform: translateY(0)
    }
    to {
        transform: translateY(-100vh)
    }
}

@keyframes hiddenTitle {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}


@keyframes showTitle {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.animation-title-show {
    animation: showTitle 500ms;
    animation-fill-mode: forwards;
}

.animation-title-hidden{
    animation: hiddenTitle 500ms;
    animation-fill-mode: forwards;
}

form.validate-error {
    animation: nono 400ms;
}


@keyframes required {
    0% {
        translate: translateX(0);
    }
    20%{
        translate: translateX(-15%);
    }

    40%{
        translate: translateX(15%);
    }
    
    60%{
        translate: translateX(0);
    }
    75%{
        translate: translateX(-15%);
    }
    90%{
        translate: translateX(15%);
    }
    100%{
        translate: translateX(0);
    }
}


@media (max-width: 858px)
{
 #section h1{
     margin-top: 3rem;
     margin-right: 1rem;
 }

 @keyframes up {
    from {
        transform: translateY(0)
    }
    to {
        transform: translateY(-88vh)
    }
}
}