#section {
    overflow-y: scroll;
    overflow-x: hidden;
}
.img-photo img{
    height: 15rem;
    width: 15rem;
}

.circle-custom {
    border-radius: 50%;
    display: inline-block;
}

.img-photo {
    position: relative;
    padding-bottom: 0.5rem;
}

.container-photo {
    flex-direction: column;
}

.img-photo span{
    position: absolute;
    bottom: 1rem;
    right: -15rem;
}

.tx {
    word-spacing: .1rem;
}

.lead {
    font-size: 1rem;
}

h2 {
    font-size: 1.4rem!important;
    color: rgb(36, 34, 30);
}

.experiencias p{
    line-height: 50%;
}
@media (max-width: 858px) {
    .img-photo img{
        height: 10rem;
        width: 10rem;
}
.container-photo {
    margin-bottom: 1rem;
}

.experiencias p{
    line-height: 100%;
}
}