section {
    position: relative;
    background-color: #ececec;
    overflow: hidden;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 9rem;
  width: 2rem;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 4rem;
  color: red;
  position: absolute;
  right: 4vw;
  display: inline-block;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 4rem;
  color: red;
  position: absolute;
  left: 3vw;
  display: inline-block;
}

.carousel-item img {
    height: 15rem;
    width: 15rem;
    margin-bottom: 1rem;
}

.carousel-item {
    padding-top: 0.6rem;
    width: 50rem;
    max-width: 40rem;
    text-align: center;
}

.lead {
    font-size: 1.1rem;
}

@media (max-width: 858px)
{
.carousel-item {
    padding-top: 0;
    width: 16rem;
    max-width: 16rem;
}
.lead {
    font-size: 0.8rem;
}
.carousel-item img {
    height: 10rem;
    width: 10rem;
    margin-bottom: 1rem;
}

.carousel-control-next-icon:after
{
  right: -1rem;
}

.carousel-control-prev-icon:after {
  left: -1rem;
}

}


@media (min-width: 1300px)
{
.lead {
    font-size: 1.3rem;
    margin-top: 1rem;
}
}