#footer {
    height: 6%;
    padding-left: 2rem;
    padding-right: 2rem;
    overflow: visible;
    background-color: #EFF1F3;
    vertical-align: center;
    align-items: center;
}


.footer-text {
    font-family: fantasy;
    font-size: 1.2rem;
    color: #223843 !important;
}

#footer-date {
    display: inline-block;
}

@media (max-width: 600px)
{
 .footer-text {
    font-size: 0.7rem;
}

#footer {
    padding-left: 1rem;
    padding-right: 1rem;
}

}