#header {
    height: 9%;
    z-index: 2000;
    box-shadow: 0 0 0.5rem 0 red;
}

#header .navbar {
        background-color: #223843 !important;
        color: #DBD3D8;
}
h1.display-4 {
    cursor: context-menu;
}

#header .nav-link  {
    font-size: 1.4rem;
    letter-spacing: 0.08rem;
    color: rgba(0,0,0,0.9);
    position: relative;
    color: #DBD3D8 !important;
}

#header .nav-link:hover {
    opacity: 0.7;
}

.span-icon {
    font-family: Verdana;
}

.icon {
    width: 2rem;
    height: 2rem;
    transition: linear 0.1s;
}

@media (max-width: 858px)
{
 #header .nav-link, #header .brand-link {
    font-size: 1.1rem;
    letter-spacing: 0.08rem;
    margin-left: 1rem!important;
}
}