#section {
    height: 85%;
    box-shadow: 0 0 0.6rem 0 #cde;
}

section::-webkit-scrollbar {
    width: 8px;
    background-color: lightsteelblue;
}

section::-webkit-scrollbar-thumb {
    border-radius: 10px ;
    background-color: lightslategray;
    box-shadow: inset 0 0 6px rgba(0,0,0,.4);
}